<!-- <div class="div1" *ngFor=" let data of list" (click)="checkData(data)"><h2><span>{{data.id}}</span>{{data.name}}</h2></div> -->
<!-- <br>
<div class="div2"><h2><span>{{taskone}}</span>{{tasktwo}}</h2></div> -->

<!-- <h2>Employee</h2>
<ul class="heroes">
  <li *ngFor="let data of list">
    <span class="badge" >{{data.id}}</span> {{data.name}}
  </li>
</ul> -->

<div class="row" *ngIf="listEmp">
  <div class="col-sm-6">
    <!-- <div  (click)="checkData(data)">{{data.id}}{{data.name}}</div> -->
    <ul class="list-group" *ngFor=" let data of list">
      <li class="list-group-item" (click)="checkData(data)">{{data.id}} {{data.name}}</li><button type="button" class="btn btn-primary" (click)="editEmployee(data)">Edit</button>
      <button type="submit" (click)="removeData(data, i)">Remove</button>
    </ul>
  </div>
  <div class="col-sm-6">
    <li class="list-group-item">{{taskone}} {{tasktwo}} {{task3}}<button type="button" class="btn btn-primary" (click)="addTask()">Add Task</button> <button type="button" class="btn btn-primary" (click)="updateTask(taskone,tasktwo)">Edit Task</button></li>
    <br>
    <div class="container" *ngIf="taskadd">
        <h2>Add Task</h2>
        <form #formData="ngForm" (ngSubmit)="addNewTask(formData)">
          <div class="form-group">
            <label class="control-label col-sm-2" for="text">Task:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="task" placeholder="Enter task" name="task" [(ngModel)]="task">
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div class="container" *ngIf="taskedit">
        <h2>Edit Task</h2>
        <form #formData="ngForm" (ngSubmit)="addExistingTask(empDetails)">
          <div class="form-group">
            <label class="control-label col-sm-2" for="text">Task 1:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="task" placeholder="Enter task" name="empDetails.task1" [(ngModel)]="empDetails.task1">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="text">Task 2:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="task" placeholder="Enter task" name="empDetails.task2" [(ngModel)]="empDetails.task2">
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>

<div class="container" *ngIf="listEmp">
    <button type="button" class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
</div>

<div class="container" *ngIf="add">
    <h2>Employee form</h2>
    <form #formData="ngForm" (ngSubmit)="updateTaskData(formData)">
        <div class="form-group">
            <label for="text">Id:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="id" [(ngModel)]="id">
          </div>
      <div class="form-group">
        <label for="text">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)]="name">
      </div>
      <div class="form-group">
          <label for="text">Task One:</label>
          <input type="text" class="form-control" id="taskone" placeholder="Enter task" name="taskone" [(ngModel)]="taskone">
        </div>
        <div class="form-group">
            <label for="text">Task Two:</label>
            <input type="text" class="form-control" id="tasktwo" placeholder="Enter task" name="tasktwo" [(ngModel)]="tasktwo">
          </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  <div class="container" *ngIf="update">
    <h2>Employee form</h2>
    <form #formData="ngForm" (ngSubmit)="updateData(empDetails)">
        <div class="form-group">
            <label for="text">Id:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="empDetails.id" [(ngModel)]="empDetails.id">
          </div>
      <div class="form-group">
        <label for="text">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="empDetails.name" [(ngModel)]="empDetails.name">
      </div>
      <div class="form-group">
          <label for="text">Task One:</label>
          <input type="text" class="form-control" id="taskone" placeholder="Enter task" name="empDetails.task1" [(ngModel)]="empDetails.task1">
        </div>
        <div class="form-group">
            <label for="text">Task Two:</label>
            <input type="text" class="form-control" id="tasktwo" placeholder="Enter task" name="empDetails.task2" [(ngModel)]="empDetails.task2">
          </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>


  
